body {
    font-family: Arial, sans-serif;
    background-color: #ececec;
    margin: 0;
    padding: 0;
}

.container {
    width: 500px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: green;
}

p {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    margin-bottom: 5px;
}

input,
select {
    padding: 10px;
    font-size: 16px;
}

.checkboxes {
    margin-top: 15px;
}

button {
    margin-top: 20px;
    padding: 12px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: darkgreen;
}

#resultat {
    margin-top: 30px;
    padding: 20px;
    background: #f2f2f2;
    border-radius: 5px;
}

#historique {
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th {
    background: green;
    color: white;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}